body{
	font-family: arial;
	line-height: 1.4em
	background-color: #eeeeee;
}

article{
	max-width:700px;
	margin: 0 auto
}

h1{background-color: rebeccapurple;
	color: white;
	font-family:
	line-height: 1.4px;
	text-align: center;
	text-decoration: underline;
}
	h2{color: brown;
		font-family:arial;
		text-align: right;
	}
	h3{
		color:gray;
		font-family:
		background-color: blue;

	}
	header{
		background color: rebeccapurple;
		color: white;
		text-align: center;
		padding: 24px;
		margin-bottom: 36px
	}
	
	header img{border-radius: 75px;
		
	}

img{
	width: 250px;
	
}

section{
	background-color: white;
	margin-bottom: : 36px;
	padding: 24px;
	border: 2px solid rebeccapurple;
}

.border {
   border: 2px solid red;
} 

title {
	color: yellow;
}

.yellow {
	color: yellow;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#profile{
	border: 1px solid #dddddd;
	background-color:gray;

}
p{
	color: red;

}
header p{
	color: green;

}
section p{
	color: blue;

}